// app
$mainThemeColor: #1890ff;
$mainThemeColor2: #42b983;

// sidebar
$menuText: #bfcbd9;
$menuActiveText: #ffffff;
$subMenuActiveText: #ffffff;

$menuBg: #001529;
$menuHover: #001529;
$menuActive: $mainThemeColor;

$subMenuBg: #000c17;
$subMenuHover: #001528;
$subMenuActive: $mainThemeColor;

$sideBarWidth: 210px;

// Login page
$lightGray: #eee;
$darkGray:#889aa4;
$loginBg: #2d3a4b;
$loginCursorColor: #fff;
